In [9]:
import os, calendar
import pandas as pd

In [14]:
lastDay = "10_"
lastDay += str(calendar.monthrange(2020,10)[1])
lastDay

'10_31'

In [2]:
data = pd.read_csv("report/sales.csv")

In [3]:
df = data[['product_title','variant_sku','net_quantity']].copy()

In [4]:
df['net_quantity'] = df['net_quantity']*-1

In [5]:
for index,row in df.iterrows():
    if "Bottomless Drip Plan" in row["product_title"]:
        print(row["product_title"])
        print(f"dropping row {index}\n")
        df.drop(index, inplace=True)
    elif "Shipping" in row["product_title"]:
        print(row["product_title"])
        print(f"dropping row {index}\n")
        df.drop(index, inplace=True)
    elif "Expedited Order Fee" in row["product_title"]:
        print(row["product_title"])
        print(f"dropping row {index}\n")
        df.drop(index, inplace=True)

Bottomless Drip Plan Auto Renew
dropping row 15

Bottomless Drip Plan Auto Renew (Ships every 31 Days)
dropping row 30

Expedited Order Fee
dropping row 54

Bottomless Drip Plan
dropping row 57

Shipping
dropping row 88

In [6]:
sampDex = []
df2 = df[df["product_title"].str.contains("Sample|sample")].copy()
for i,r in df2.iterrows():
    sampDex.append(i)

for i,r in df.iterrows():
    if i in sampDex:
        df.drop(i, inplace=True)

In [42]:
for i,r in df.iterrows():
    try:
        if r['variant_sku'][-2:] == "CS":
            print(i)
            print(f"{r['product_title']} - {r['variant_sku']} - {r['net_quantity']}")
            df.at[i,"variant_sku"] = r["variant_sku"][:-2]+"WB"
            df.at[i,"net_quantity"] = r["net_quantity"]*6
        elif r['variant_sku'][-2:] == "GR":
            df.at[i,"variant_sku"] = r['variant_sku'][:-2]+"WB"
            # print(f"{r['product_title']} - {r['variant_sku']} - {r['net_quantity']}\n\n")
    except TypeError:
        pass

In [44]:
for i,r in df.iterrows():
    print(r["variant_sku"])

CUB5LBWB
GBG5LBWB
CAA5LBWB
HTB5LBWB
CLE5LBWB
AOB5LBWB
CAA12OZWB
GBG12OZWB
CDC5LBWB
EBN12OZWB
CUB12OZWB
DCH5LBWB
HTB2LBWB
CLP5LBWB
CUB5LBWB
DCH12OZWB
CUB2LBWB
BPB5LBWB
UAE5LBWB
AOB2LBWB
nan
EBN5LBWB
CDC2LBWB
HTB12OZWB
CLE12OZWB
HTB5LBWB
UAE5LBWB
CLP2LBWB
nan
nan
GBG12OZWB
CLP12OZWB
CLP5LBWB
CDC12OZWB
UAE2LBWB
CDC5LBWB
nan
BPB12OZWB
DCH2LBWB
EBN12OZWB
CLP12OZWB
HTB2LBWB
BPB2LBWB
DCH12OZWB
AOB12OZWB
EBN2LBWB
HTB12OZWB
CUB12OZWB
UAE12OZWB
CLE12OZWB
OMATSF100-RP
CDC2LBWB
nan
OMCCTP-EA
nan
CLP2LBWB
nan
CAA12OZWB
CLE12OZWB
nan
AOB12OZWB
HTB12OZWB
BPB12OZWB
DCH4OZWB
CLE4OZWB
EBN4OZWB
EBN4OZWB
CAA4OZWB
CLP4OZWB
GBG4OZWB
BPB4OZWB
HTB4OZWB
RNN12OZWB
RNW12OZWB

In [8]:
for i,r in df2.iterrows():
    print(r['product_title'])

Sample Decaf Caldas
Sample Asoagroambiente
Sample Paubrasil
Sample A-Okay
Sample Up & At 'Em
Sample Estate La Esperanza
Sample Deck the Halls
Sample Chin Up
Sample Palmera
Sample Chin Up
Sample Hang Tough
Sample Finca Cedral Alto Natural
Sample A-Okay
Sample Hutwe
Sample Paubrasil
Sample Barrancas
Sample Barrancas
Sample Hutwe
Sample Palmera
Sample Aquiares
Sample Up & At 'Em
Sample Aquiares
Sample Asoagroambiente
Sample Hang Tough
Sample Estate La Esperanza

In [20]:
prods = df[["variant_sku","net_quantity"]].copy()
samps = df2[["variant_sku","net_quantity"]].copy()

In [21]:
prods["External_ID"]=800545
samps["External_ID"]=800546

    variant_sku  net_quantity  External_ID
76    CDC12OZWB            -7       800546
78     CAA4OZWB            -5       800546
79    BPB12OZWB           -15       800546
80    AOB12OZWB            -2       800546
81     UAE4OZWB            -2       800546
82    CLE12OZWB            -7       800546
83          NaN            -1       800546
84     CUB4OZWB            -6       800546
85     CLP4OZWB            -5       800546
86    CUB12OZWB           -13       800546
87     HTB4OZWB            -7       800546
89     RNN4OZWB           -13       800546
90     AOB4OZWB            -3       800546
92    DCH12OZWB            -3       800546
93     BPB4OZWB            -6       800546
94    EBN12OZWB            -7       800546
95     EBN4OZWB            -1       800546
96     DCH4OZWB            -6       800546
97    CLP12OZWB            -9       800546
98     CRA4OZWB            -4       800546
99    UAE12OZWB            -1       800546
100   CRA12OZWB            -2       800546
101   CAA12OZWB            -1       800546
102   HTB12OZWB           -18       800546
103    CLE4OZWB            -4       800546